#DIV_7 {
	background-position: 50% 0%;
	bottom: 0px;
	color: rgb(34, 34, 34);
	direction: rtl;
	height: 130px;
	left: 0px;
	position: relative;
	right: 0px;
	text-align: center;
	text-decoration: none solid rgb(34, 34, 34);
	top: 0px;
	width: 1004px;
	z-index: 799;
	column-rule-color: rgb(34, 34, 34);
	perspective-origin: 502px 65px;
	transform-origin: 502px 65px;
	caret-color: rgb(34, 34, 34);
	background: rgba(0, 0, 0, 0) url("/static/images/header_bgd.png") repeat-x scroll 50% 0% / auto padding-box border-box;
	border: 0px none rgb(34, 34, 34);
	font: normal normal 400 normal 10px / 15px Arial, Helvetica, sans-serif;
	margin-right: 50px;
	float: right;
	outline: rgb(34, 34, 34) none 0px;
}

#DIV_8 {
	background-position: 50% 0px;
	color: rgb(34, 34, 34);
	direction: rtl;
	height: 128px;
	text-align: right;
	text-decoration: none solid rgb(34, 34, 34);
	width: 1004px;
	column-rule-color: rgb(34, 34, 34);
	perspective-origin: 502px 64px;
	transform-origin: 502px 64px;
	caret-color: rgb(34, 34, 34);
	background: rgba(0, 0, 0, 0) url("/static/images/top_nav_bgd.png") no-repeat scroll 50% 0px / auto padding-box border-box;
	border: 0px none rgb(34, 34, 34);
	font: normal normal 400 normal 10px / 15px Arial, Helvetica, sans-serif;
	outline: rgb(34, 34, 34) none 0px;
}


#DIV_21 {
	color: rgb(34, 34, 34);
	direction: rtl;
	height: 0px;
	text-align: center;
	text-decoration: none solid rgb(34, 34, 34);
	width: 1004px;
	column-rule-color: rgb(34, 34, 34);
	perspective-origin: 760.8px 10px;
	transform-origin: 760.8px 10px;
	caret-color: rgb(34, 34, 34);
	border: 0px none rgb(34, 34, 34);
	font: normal normal 400 normal 10px / 15px Arial, Helvetica, sans-serif;
	outline: rgb(34, 34, 34) none 0px;
	padding: 10px;
}


.label {
	color: rgb(7, 91, 161);
	direction: rtl;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	height: 21.6px;
	line-height: 22px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(7, 91, 161);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: right;
	text-size-adjust: 100%;
	width: 170px;
	zoom: 1;
}

.fld {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat-x: ;
	background-repeat-y: ;
	background-size: auto;
	border-bottom-color: rgb(194, 195, 202);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(194, 195, 202);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(194, 195, 202);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(194, 195, 202);
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(80, 93, 102);
	cursor: text;
	direction: rtl;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 12px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 20px;
	letter-spacing: normal;
	line-height: 20px;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(80, 93, 102);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-size-adjust: 100%;
	text-transform: none;
	vertical-align: baseline;
	width: 280px;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	zoom: 1;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-border-image: none;
}

.cfld {
	width: 289px;
}

.chfld {
	margin-right: 0px;
	margin-left: 10px;
}

.rfld {
	width: 12px;
	margin-right: 0px;
	margin-left: 10px;
}

.rfldlbl {
	width: 156.5px;
	direction: rtl;
	float: right;
	font-family: Arial;
	font-size: 12px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	color: rgb(80, 93, 102);
	line-height: 30px;
	vertical-align: top;
	text-align: right;
}

.remark {
	font-size: 10px;
	margin-right: 5px;
}

.select-oneContainer {
	color: rgb(80, 93, 102);
	cursor: text;
	direction: rtl;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 12px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 18px;
	letter-spacing: normal;
	line-height: 18px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(80, 93, 102);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: right;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-size-adjust: 100%;
	text-transform: none;
	vertical-align: baseline;
	width: 49%;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	zoom: 1;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-border-image: none;
}

h5 {
	margin-right: 380px;
	background-image: url(/static/images/formSection_ttl.jpg);
	background-repeat-x: ;
	background-repeat-y: ;
	border-top-color: rgb(253, 185, 39);
	border-top-style: solid;
	border-top-width: 2px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	margin-top: 0px;
	text-size-adjust: 100%;
	width: 193px;
}

.divider {
    display:block;
    width: 170px;
}

.fullWidth {
	width: 99%;
}

.ml-10px{
    margin-left:10px;
}

.g22border{
    border: solid rgb(136, 136, 136) 1px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border: 0;
}