               <span id="lbl_CountryCode" class="label">מדינה</span>
               <select name="CountryCode" id="CountryCode" class="fld cfld">
                    <option value="0">לא רשום
                    <option value="9">ארמניה
                    <option value="10">קפריסין
                    <option value="15">תורכיה
                    <option value="20">סוריה
                    <option value="30">לבנון
                    <option value="40">ירדן
                    <option value="50">עירק
                    <option value="51">כווית
                    <option value="60">ערב הסעודית
                    <option value="61">בחריין
                    <option value="62">עומן
                    <option value="63">קטר
                    <option value="64">איחוד האמירויות הערב
                    <option value="70">תימן
                    <option value="71">תימן הדמוקרטית
                    <option value="80">עדן
                    <option value="90">אירן
                    <option value="100">אפגניסטן
                    <option value="110">הודו
                    <option value="111">פקיסטן
                    <option value="112">סרי לנקה (צילון)
                    <option value="113">סיקים
                    <option value="114">נפאל
                    <option value="115">בוטן
                    <option value="116">בנגלדש
                    <option value="117">מלדיבים
                    <option value="120">מיאנמר (בורמה)
                    <option value="121">תאילנד
                    <option value="122">סינגפור
                    <option value="123">קמבודיה
                    <option value="124">לאוס
                    <option value="125">ויטנאם
                    <option value="126">ויטנאם הדרומית
                    <option value="127">מלזיה
                    <option value="130">אינדונזיה
                    <option value="131">פיליפינים
                    <option value="132">טימור הפורטוגלית
                    <option value="133">טיוון
                    <option value="134">ברוניי
                    <option value="135">גואם
                    <option value="136">מזרח טימור
                    <option value="140">סין
                    <option value="141">הונג קונג
                    <option value="142">מקאו
                    <option value="150">מונגוליה
                    <option value="151">קוריאה
                    <option value="152">קוריאה הצפונית
                    <option value="153">קוריאה הדרומית
                    <option value="160">יפן
                    <option value="180">שאר ארצות אסיה
                    <option value="190">אסיה לא ידוע
                    <option value="200">מרוקו
                    <option value="201">טנגר
                    <option value="202">מרוקו הספרדית
                    <option value="203">מאוריטניה
                    <option value="204">סנגל
                    <option value="205">גמביה
                    <option value="206">גינאה ביסאו
                    <option value="207">גינאה
                    <option value="208">סיירה ליאונה
                    <option value="209">ליבריה
                    <option value="210">אלגיריה
                    <option value="211">ניגר
                    <option value="212">מאלי
                    <option value="213">ניגריה
                    <option value="214">בנין (דהומי)
                    <option value="215">טוגו
                    <option value="216">גאנה
                    <option value="217">בורקינה פאסו
                    <option value="218">חוף השנהב
                    <option value="219">איי קייפ וורדה
                    <option value="220">תוניסיה
                    <option value="230">לוב
                    <option value="240">מצרים
                    <option value="241">סודן
                    <option value="242">צאד
                    <option value="243">רפ מרכז אפריקנית
                    <option value="244">קמרון
                    <option value="245">סאו טומה ופרינציפה
                    <option value="246">דרום סודאן
                    <option value="249">אריתריאה
                    <option value="250">אתיופיה
                    <option value="251">גיבוטי
                    <option value="252">סומליה
                    <option value="253">קניה
                    <option value="254">אוגנדה
                    <option value="255">טנזניה
                    <option value="259">זימבאבווה
                    <option value="260">רודזיה
                    <option value="261">זמביה
                    <option value="262">מוזמביק
                    <option value="263">מלאווי
                    <option value="269">בליז
                    <option value="270">דרום אפריקה
                    <option value="271">בוטסואנה
                    <option value="272">לסוטו
                    <option value="273">סווזילנד
                    <option value="274">נמיביה
                    <option value="275">מדגסקר
                    <option value="276">מאוריציוס
                    <option value="277">סט הלנה
                    <option value="278">איי קומורו
                    <option value="279">ראוניון
                    <option value="280">שאר ארצות אפריקה
                    <option value="281">אנגולה
                    <option value="283">קונגו
                    <option value="284">רואנדה
                    <option value="285">בורונדי
                    <option value="286">קונגו
                    <option value="287">גבון
                    <option value="288">גינאה המשוונית
                    <option value="289">איי סיישל
                    <option value="290">אפריקה לא ידוע
                    <option value="300">ברית המועצות
                    <option value="301">ליטא
                    <option value="302">לטביה
                    <option value="303">אסטוניה
                    <option value="304">בילורוסיה
                    <option value="305">אוקראינה
                    <option value="306">הפדרציה הרוסית
                    <option value="307">מולדובה
                    <option value="308">גאורגיה
                    <option value="309">גרוזיה
                    <option value="310">פולין
                    <option value="311">אזרביג'אן
                    <option value="312">קזחסטאן
                    <option value="313">תורכמניסטאן
                    <option value="314">טג'יקיסטאן
                    <option value="315">אוזבקיסטן
                    <option value="316">קירג'זסטאן
                    <option value="317">אבחזיסטאן
                    <option value="318">צ'צ'ניה
                    <option value="400">רומניה
                    <option value="410">יוגוסלביה
                    <option value="411">סלובניה
                    <option value="412">קרואטיה
                    <option value="413">בוסניה הרצגובינה
                    <option value="414">מקדוניה
                    <option value="415">סרביה
                    <option value="416">מונטנגרו
                    <option value="417">הרפובליקה של קוסובו
                    <option value="420">בולגריה
                    <option value="430">יוון
                    <option value="440">אלבניה
                    <option value="500">גרמניה
                    <option value="501">גרמניה המערבית
                    <option value="502">גרמניה המזרחית
                    <option value="510">אוסטריה
                    <option value="520">שוויץ
                    <option value="521">ליכטנשטיין
                    <option value="530">צכוסלובקיה
                    <option value="531">צכיה
                    <option value="532">סלובקיה
                    <option value="540">הונגריה
                    <option value="550">פינלנד
                    <option value="560">שוודיה
                    <option value="570">נורבגיה
                    <option value="580">דנמרק
                    <option value="581">איסלנד
                    <option value="590">הממלכה המאוחדת
                    <option value="600">אירלנד
                    <option value="610">הולנד
                    <option value="620">בלגיה
                    <option value="630">לוכסמבורג
                    <option value="640">צרפת
                    <option value="641">מונקו
                    <option value="650">פורטוגל
                    <option value="660">ספרד
                    <option value="661">גיברלטר
                    <option value="662">אנדורה
                    <option value="670">איטליה
                    <option value="671">סן מרינו
                    <option value="672">ותיקן
                    <option value="673">מלטה
                    <option value="690">שאר ארצות אירופה
                    <option value="691">אירופה לא ידוע
                    <option value="700">קנדה
                    <option value="710">ארצות הברית
                    <option value="711">פוארטו ריקו
                    <option value="720">מקסיקו
                    <option value="721">ניקרגואה
                    <option value="723">קוסטה ריקה
                    <option value="724">אל סלבדור
                    <option value="725">הונדורס
                    <option value="726">גווטאמלה
                    <option value="730">קובה
                    <option value="731">ברמודה
                    <option value="732">ברבדוס
                    <option value="733">איי קיימן
                    <option value="734">הרפ הדומיניקנית
                    <option value="735">בהמס
                    <option value="736">האיטי
                    <option value="737">גמייקה
                    <option value="738">איי הבתולה
                    <option value="739">איי טורקס וקייקוס
                    <option value="740">פנמה
                    <option value="741">איזור התעלה
                    <option value="742">סט. קיטס ונביס
                    <option value="750">מרכז אמריקה
                    <option value="751">דומיניקה
                    <option value="752">מונסרת
                    <option value="753">גרנדה
                    <option value="754">סט וינסנט
                    <option value="755">סט. לוציה
                    <option value="756">מרטיניק
                    <option value="757">גואדאלופ
                    <option value="758">אנטיגואה וברבודה
                    <option value="760">ונצואלה
                    <option value="761">טרינידד וטובגו
                    <option value="762">האנטילים ההולנדים
                    <option value="770">קולומביה
                    <option value="780">אקואדור
                    <option value="790">פרו
                    <option value="800">בוליביה
                    <option value="810">ברזיל
                    <option value="811">גויאנה הצרפתית
                    <option value="812">גויאנה
                    <option value="813">סורינם
                    <option value="820">אורגוואי
                    <option value="830">ארגנטינה
                    <option value="831">פרגוואי
                    <option value="832">איי פאלקלנד
                    <option value="840">צ'ילה
                    <option value="850">דרום אמריקה
                    <option value="852">אמריקה לא ידוע
                    <option value="860">אוסטרליה
                    <option value="861">איי שלמה הבריטיים
                    <option value="862">קלדוניה החדשה
                    <option value="863">האיים ההברדיים
                    <option value="864">איי נורפולק
                    <option value="865">גינאה החדשה
                    <option value="866">פאפואה
                    <option value="867">איי מרשל
                    <option value="868">מיקרונזיה
                    <option value="869">פלאו
                    <option value="870">ניו זילנד
                    <option value="871">ונואטו
                    <option value="872">טובלו
                    <option value="873">קיריבטי
                    <option value="880">אוקיאניה - אחר
                    <option value="881">טונגה
                    <option value="882">סמואה
                    <option value="883">סמואה המערבית
                    <option value="884">איי ווליס ופוטונה
                    <option value="885">איי גילברט ואליס
                    <option value="886">נאורו
                    <option value="887">איי קוק
                    <option value="888">איי פיגי
                    <option value="889">פולינזיה הצרפתית
                    <option value="900" selected>ישראל
                    <option value="901">-
                    <option value="905">בדרך לארץ
                    <option value="906">בלב ים
               </select>
